body {
  padding: 10px;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
}
.video{
  display: flex;
  height: 600px;
  /* width: 200px; */
  position:absolute;
  top: 10%;
  box-shadow: 0 0 70px rgba(129, 168, 136, 0.3);
}

.SearchBar {
  display: flex;
  position:absolute;
  left :50%;
  height: 30px;
  gap: 10px;
}

#search{
  width: 370px;
  border-radius: 15px;
  height: 25px;
  background-color: rgb(65, 64, 64);
  border: 1px solid white;
}

#searchbtn{
  background-color: rgb(45, 47, 48);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  width: 100px;
}

.reactionItems{
  display: flex;
position:absolute;
top: 80%;
}

#sadid{
  height: 60px;
}

#subscribe{
  position:absolute;
  left: 250px;
  top:30%;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: whitesmoke;
  cursor: pointer;
  border: none;
}
.namesub{
  display: flex;
  width: 1000px;
  flex-direction: column;
}

#channelName{
  color: aliceblue;
  font-size: 20px;
  position: absolute;
  top:10%
}

#subcount{
  color: gray;
  position: absolute;
  top:55%
}

#like{
  position:absolute;
  height: 30px;
  width: 90px;
  left: 860px;
  top:30%;
  border-radius: 15px;
  background-color:rgb(44, 43, 43);
  border: none;
  color: white;
  cursor: pointer;
}

#share{
  position:absolute;
  left: 955px;
  top:30%;
  height: 30px;
  width: 90px;
  border-radius: 15px;
  background-color:rgb(44, 43, 43);
  color: white;
  border: none;
  cursor: pointer;
}

#download{
  position:absolute;
  left: 1050px;
  top:30%;
  height: 30px;
  width: 90px;
  border-radius: 15px;
  background-color:rgb(44, 43, 43);
  border: none;
  color: white;
  cursor: pointer;
}

.detail{
  color: white;
  position: absolute;
  left: 20px;
}

#title{
  position: absolute;
  top:72%;
  left:30px;
  color:white;
  font-size: 27px;
  
}

.detailBox{
  display: flex;
  position:absolute;
  width: 1150px;
  height: 100px;
  background-color:rgb(44, 43, 43);
  top:850px;
  border-radius: 10px;
}

